<table class="table table-bordered" style="border: solid;">
	<tbody>
		<tr style="height:9vh">
			<td style="background-color:aliceblue" onclick="@(()=>ReturnColor("aliceblue"))" />
			<td style="background-color:antiquewhite" onclick="@(()=>ReturnColor("antiquewhite"))" />
			<td style="background-color:aqua" onclick="@(()=>ReturnColor("aqua"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:aquamarine" onclick="@(()=>ReturnColor("aquamarine"))" />
			<td style="background-color:azure" onclick="@(()=>ReturnColor("azure"))" />
			<td style="background-color:beige" onclick="@(()=>ReturnColor("beige"))" />
		</tr>


		<tr style="height:9vh">
			<td style="background-color:bisque" onclick="@(()=>ReturnColor("bisque"))" />
			<td style="background-color:black" onclick="@(()=>ReturnColor("black"))" />
			<td style="background-color:blanchedalmond" onclick="@(()=>ReturnColor("blanchedalmond"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:blue" onclick="@(()=>ReturnColor("blue"))" />
			<td style="background-color:blueviolet" onclick="@(()=>ReturnColor("blueviolet"))" />
			<td style="background-color:brown" onclick="@(()=>ReturnColor("brown"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:burlywood" onclick="@(()=>ReturnColor("burlywood"))" />
			<td style="background-color:cadetblue" onclick="@(()=>ReturnColor("cadetblue"))" />
			<td style="background-color:chartreuse" onclick="@(()=>ReturnColor("chartreuse"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:chocolate" onclick="@(()=>ReturnColor("chocolate"))" />
			<td style="background-color:coral" onclick="@(()=>ReturnColor("coral"))" />
			<td style="background-color:cornflowerblue" onclick="@(()=>ReturnColor("cornflowerblue"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:cornsilk" onclick="@(()=>ReturnColor("cornsilk"))" />
			<td style="background-color:crimson" onclick="@(()=>ReturnColor("crimson"))" />
			<td style="background-color:cyan" onclick="@(()=>ReturnColor("cyan"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:darkblue" onclick="@(()=>ReturnColor("darkblue"))" />
			<td style="background-color:darkcyan" onclick="@(()=>ReturnColor("darkcyan"))" />
			<td style="background-color:darkgoldenrod" onclick="@(()=>ReturnColor("darkgoldenrod"))" />
		</tr>

				<tr style="height:9vh">
			<td style="background-color:darkgray" onclick="@(()=>ReturnColor("darkgray"))" />
			<td style="background-color:darkgreen" onclick="@(()=>ReturnColor("darkgreen"))" />
			<td style="background-color:darkgrey" onclick="@(()=>ReturnColor("darkgrey"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:darkkhaki" onclick="@(()=>ReturnColor("darkkhaki"))" />
			<td style="background-color:darkmagenta" onclick="@(()=>ReturnColor("darkmagenta"))" />
			<td style="background-color:darkolivegreen" onclick="@(()=>ReturnColor("darkolivegreen"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:darkorange" onclick="@(()=>ReturnColor("darkorange"))" />
			<td style="background-color:darkorchid" onclick="@(()=>ReturnColor("darkorchid"))" />
			<td style="background-color:darkred" onclick="@(()=>ReturnColor("darkred"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:darksalmon" onclick="@(()=>ReturnColor("darksalmon"))" />
			<td style="background-color:darkseagreen" onclick="@(()=>ReturnColor("darkseagreen"))" />
			<td style="background-color:darkslateblue" onclick="@(()=>ReturnColor("darkslateblue"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:mediumpurple" onclick="@(()=>ReturnColor("mediumpurple"))" />
			<td style="background-color:darkslategrey" onclick="@(()=>ReturnColor("darkslategrey"))" />
			<td style="background-color:darkturquoise" onclick="@(()=>ReturnColor("darkturquoise"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:darkviolet" onclick="@(()=>ReturnColor("darkviolet"))" />
			<td style="background-color:deeppink" onclick="@(()=>ReturnColor("deeppink"))" />
			<td style="background-color:deepskyblue" onclick="@(()=>ReturnColor("deepskyblue"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:palegreen" onclick="@(()=>ReturnColor("palegreen"))" />
			<td style="background-color:dimgrey" onclick="@(()=>ReturnColor("dimgrey"))" />
			<td style="background-color:dodgerblue" onclick="@(()=>ReturnColor("dodgerblue"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:firebrick" onclick="@(()=>ReturnColor("firebrick"))" />
			<td style="background-color:floralwhite" onclick="@(()=>ReturnColor("floralwhite"))" />
			<td style="background-color:forestgreen" onclick="@(()=>ReturnColor("forestgreen"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:fuchsia" onclick="@(()=>ReturnColor("fuchsia"))" />
			<td style="background-color:gainsboro" onclick="@(()=>ReturnColor("gainsboro"))" />
			<td style="background-color:ghostwhite" onclick="@(()=>ReturnColor("ghostwhite"))" />
		</tr>


		<tr style="height:9vh">
			<td style="background-color:gold" onclick="@(()=>ReturnColor("gold"))" />
			<td style="background-color:goldenrod" onclick="@(()=>ReturnColor("goldenrod"))" />
			<td style="background-color:grey" onclick="@(()=>ReturnColor("grey"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:green" onclick="@(()=>ReturnColor("green"))" />
			<td style="background-color:greenyellow" onclick="@(()=>ReturnColor("greenyellow"))" />
			<td style="background-color:honeydew" onclick="@(()=>ReturnColor("honeydew"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:hotpink" onclick="@(()=>ReturnColor("hotpink"))" />
			<td style="background-color:indianred" onclick="@(()=>ReturnColor("indianred"))" />
			<td style="background-color:indigo" onclick="@(()=>ReturnColor("indigo"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:ivory" onclick="@(()=>ReturnColor("ivory"))" />
			<td style="background-color:khaki" onclick="@(()=>ReturnColor("khaki"))" />
			<td style="background-color:lavender" onclick="@(()=>ReturnColor("lavender"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lavenderblush" onclick="@(()=>ReturnColor("lavenderblush"))" />
			<td style="background-color:lawngreen" onclick="@(()=>ReturnColor("lawngreen"))" />
			<td style="background-color:lemonchiffon" onclick="@(()=>ReturnColor("lemonchiffon"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lightblue" onclick="@(()=>ReturnColor("lightblue"))" />
			<td style="background-color:lightcoral" onclick="@(()=>ReturnColor("lightcoral"))" />
			<td style="background-color:lightcyan" onclick="@(()=>ReturnColor("lightcyan"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lightgoldenrodyellow" onclick="@(()=>ReturnColor("lightgoldenrodyellow"))" />
			<td style="background-color:lightgray" onclick="@(()=>ReturnColor("lightgray"))" />
			<td style="background-color:lightgreen" onclick="@(()=>ReturnColor("lightgreen"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lightgrey" onclick="@(()=>ReturnColor("lightgrey"))" />
			<td style="background-color:lightpink" onclick="@(()=>ReturnColor("lightpink"))" />
			<td style="background-color:lightsalmon" onclick="@(()=>ReturnColor("lightsalmon"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lightseagreen" onclick="@(()=>ReturnColor("lightseagreen"))" />
			<td style="background-color:lightskyblue" onclick="@(()=>ReturnColor("lightskyblue"))" />
			<td style="background-color:lightslategray" onclick="@(()=>ReturnColor("lightslategray"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:lightslategrey" onclick="@(()=>ReturnColor("lightslategrey"))" />
			<td style="background-color:lightsteelblue" onclick="@(()=>ReturnColor("lightsteelblue"))" />
			<td style="background-color:lightyellow" onclick="@(()=>ReturnColor("lightyellow"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:linen" onclick="@(()=>ReturnColor("linen"))" />
			<td style="background-color:paleturquoise" onclick="@(()=>ReturnColor("paleturquoise"))" />
			<td style="background-color:mintcream" onclick="@(()=>ReturnColor("mintcream"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:royalblue" onclick="@(()=>ReturnColor("royalblue"))" />
			<td style="background-color:thistle" onclick="@(()=>ReturnColor("thistle"))" />
			<td style="background-color:silver" onclick="@(()=>ReturnColor("silver"))" />
		</tr>

		<tr style="height:9vh">
			<td style="background-color:skyblue" onclick="@(()=>ReturnColor("skyblue"))" />
			<td style="background-color:navajowhite" onclick="@(()=>ReturnColor("navajowhite"))" />
			<td style="background-color:midnightblue" onclick="@(()=>ReturnColor("midnightblue"))" />
		</tr>

	</tbody>
</table>
@code {
	[Parameter] public EventCallback<string> ColorIsSelected { get; set; }

	public async Task ReturnColor(string color)
	{
		await ColorIsSelected.InvokeAsync(color);
	}


}
